@import './variables.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0095f6;
  text-decoration: none;
}
a:hover {
  color: #00376b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  max-width: 3000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 2rem;
  color: #262626;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

